.container {
    width: 80%;
    margin: auto;
}

/* Header */
header {
    padding: 30px 0px;
}

.main-head {
    width: 100%;
    background-color: white;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header-content img {
    flex: 1;
    max-width: 150px;
    padding-top: 3px;
}

.header-content nav {
    flex: 3;
    text-align: center;
}

.header-content .login {
    flex: 1;
    text-align: right;
    padding-top: 4px;
}

.header-content ul li {
    display: inline-block;
}

.header-content ul li,
.header-content ul li a {
    color: var(--subcolor);
}

.header-content nav ul li .link-item {
    color: var(--subcolor);
    display: block;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
    position: relative;
}

.header-content nav ul li .link-item::before,
.header-content nav ul li .link-item::after {
    content: "";
    position: absolute;
    border-width: 0 2px;
    border-color: var(--main-color);
    border-style: solid;
    width: 98%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 0.2s;
    transform: scale3d(1, 0, 1);
}

.header-content nav ul li .link-item::after {
    border-width: 2px 0;
    width: 100%;
    height: 90%;
    transform: scale3d(0, 1, 1);
    transform-origin: left;
}

.header-content nav ul li .link-item:hover:after {
    transform: scale3d(1, 1, 1);
    transition-delay: 0.2s;
}

.header-content nav ul li .link-item:hover::before {
    transform: scale3d(1, 1, 1);
    transition-delay: 0.4s;
}

.header-content .login ul li {
    padding: 7px;
}

.header-content .login ul li:last-child i {
    position: relative;
    margin-right: 10px;
}

.header-content .login ul li:last-child i:after {
    margin-bottom: 1px;
    color: white;
    content: "0";
    position: absolute;
    background-color: var(--main-color);
    right: -8px;
    bottom: -3px;
    padding: 0px 3px;
    font-size: 9px;
    border-radius: 50%;
}

.header-content .login ul li:hover {
    color: var(--main-color);
}

/*drop-down*/

.drop-down {
    position: relative;
}

.drop-down-menu {
    position: absolute;
    width: 300px;
    height: 145px;
    border: 1px solid var(--main-color);
    margin-top: 31px;
    text-align: left;
    text-transform: capitalize;
    background-color: white;
    transform: scale(0, 0);
    transform-origin: left;
}

.drop-down:hover .drop-down-menu {
    transform: scale(1, 1);
    transition: 0.4s;
    z-index: 1;
}

.drop-down-menu ul {
    display: table-cell;
    /* padding: 3px 5px; */
}

.drop-down-menu ul li {
    padding: 0 0 5px 5px;
}

.drop-down-menu ul li:first-child {
    margin: 0 0 5px 5px;
    border-bottom: 0.5px solid var(--main-color);
    margin-bottom: 5px;
    color: var(--main-color);
}

/* drop-down-menu-cher */

.drop-down-menu-another {
    position: absolute;
    padding: 5px 20px 6px 5px;
    transform: scale(0, 0);
    border: 2px solid var(--main-color);
    background-color: white;
    margin-top: 30px;
    transform-origin: left;
    text-align: left;
    text-transform: capitalize;

}


.drop-down:hover .drop-down-menu-another {
    transform: scale(1, 1);
    transition: 0.4s;
    z-index: 1;
}

/*drop-down more */
.More ul li {
    display: table-cell;
    display: block;
    width: 100px;
}


/* slider  */



.slider {
    margin-top: 100px;
    position: relative;
    width: 100%;
    height: 400px;
}

section.slider img {
    width: 98%;
}

.slider .points {
    position: absolute;
    bottom: 9px;
    right: 49%;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.slider:hover.slider .points {
    visibility: visible;
    opacity: 0.8;

}